.imagen-inicio {
    margin-left: 887px;
    position:absolute;
}

.frame {
    border:#9556ce 5px solid;
    border-radius: 20px;
}

.contraste-texto-inicio {
    opacity: 0.5;
    border:#7d03d3 5px solid;
    border-radius: 20px;
    width: 870px;
    position: absolute;
    z-index: -1;
    height: 353px;
}

.contraste-texto-personajes {
    opacity: 0.5;
    border:#7d03d3 5px solid;
    border-radius: 20px;
    width: 870px;
    position: absolute;
    z-index: -1;
    height: 633px;
}
.menu {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: auto;
    height: 40px;
    position: relative;
    left: 25px;
    top: 15px;
}

.navbar {
    opacity: 0.5;
    width: 1340px;
    height: 60px;
    border: #7d03d3 5px solid;
    border-radius: 20px;
    position: absolute;
}

.texto-principal {

    margin-right: 490px;
    line-height: 22px;
    margin-left: 23px;
}

h2 {
    color: #7d03d3;
    margin-left: 400px;
}

body {
    background-color: #aea8c8;
}
h1 {
    color: #7d03d3;
}